@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

/*SECCION HEADER */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width:auto;
    margin:0 auto ;
    background-color: #151517;
    
}

header {
    background: linear-gradient(rgba(5,7,12,0.45), rgba(5,7,12,0.45)),  url(img/servicesbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    align-items: center;
    display:block;
}

.header-txt {
    text-align: center;
}

.header-txt h1 {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 40px;
}

.content {
    background-color:#151517;
    min-height:80px;
    }

.header-txt h2 {
    font-size: 30px; 
    color: #fff;
    margin-bottom: 20px;
}

.header-txt p {
    color: #fff;
    padding: 0 250px;
    font-size: 16px;
    margin-bottom: 50px;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .logo {
        font-size: 25px;
        color: #18c66a;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .menu .navbar ul li {
        position: relative;
        float: left;

    
    }
    .menu .navbar ul li a {
        color: #ffffff;
    }
    
    .menu .navbar ul li {
        font-size: 18px;
        padding: 20px;
        color: #ffffff;
        display: block;
        font-weight: bold;
    
    }

    .menu .navbar ul li a:hover {
        color: #18c66a;
    }
    #menu {
       display: none; 
    
    }
    
    .menu-icono {
        width: 25px;
    
    }
    
    .menu label {
        cursor: pointer;
        display: none;
    }

    
    @media (max-width:2000px){
        .content {
            min-height: 70px;
        }
    
        .menu {
            top: 0;
            padding: 20px;
        }
    
        .menu label {
            display: initial;
        }
    
        .menu .navbar {
            position: absolute;
            top: 100%;
            left: 800px;
            right: 0;
            background-color:#151517 ;
            display:none;
        }
    
        .menu .navbar ul li {
            width: 100%;
        }
    
        #menu:checked ~ .navbar {
            display:initial;
            
        }
    }

/*SECCION BOTONES*/

.btn-1 {
    color: black;
    background-color: rgb(255, 230, 0);
    display:inline-block;
    padding: 15px 40px;
    border: 2px solid #18D0C3 ;
    border-style: ridge solid ;
    font-size: 15px;
    text-transform:uppercase;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

.btn-1:hover {
    color:black;
    background-color:bisque;
}

.btn-plan {

    color: black;
    background-color: rgb(255, 230, 0);
    display:inline-block;
    padding: 15px 40px;
    border: 2px solid red ;
    border-style: ridge solid ;
    font-size: 15px;
    text-transform:uppercase;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 40px;
}

.btn-plan:hover {
    color:black;
    background-color:bisque;
}
/*SECCION PROGRAMA*/

.general-container {
    padding: 50px 0;
    text-align: center;


}

.general-content {
    display:flex;
    justify-content:space-between;
    margin-top: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    align-items: center;
    
}

.general-content .boton {
    background-color:yellow;
    font-size: 15px;
    padding:15px;
    border: solid;
    border-radius: 10px;
    border-color: red;
    cursor: pointer;

}

/*H2 PROGRAMA*/


.general-container h2 {
    font-size: 60px;
    background-color: #18D0C3;
    text-transform: uppercase;
    color: #151517;
    display:flex;
    justify-content: center;
    padding: 15px 40px;
    border: 2px solid ;
    border-style: ridge solid ;
    font-size: 60px;
    text-transform:uppercase;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    margin-top:20px;
   
}


.general-1 h3 {
    font-size: 20px;
    color: black ;
    text-transform: uppercase;
    color: black solid;
    border: solid;
    background-color: #18D0C3;
    border-radius: 10px;
    margin-top: 20px;
}
.general-2 h3 {

    font-size: 20px;
    color: black;
    text-transform: uppercase;
    color: black solid;
    border: solid;
    background-color: #18D0C3;
    border-radius: 10px;
    margin-top: 20px;
    
}

.general-3 h3 {

    font-size: 20px;
    color: black;
    text-transform: uppercase;
    color: black solid;
    border: solid;
    background-color:#18D0C3;
    border-radius: 10px;
    margin-top: 20px;
    
}

.general-1 {
    background:linear-gradient(rgba(5,7,12,0.28), rgba(5,7,12,0.28)), url(img/fondohtml.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 100px 50px;
}

.general-2  {
    background: linear-gradient(rgba(5,7,12,0.10), rgba(5,7,12,0.10)), url(img/fondocss.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 100px 50px;
}

.general-3  {
    background: linear-gradient(rgba(5,7,12,0.30), rgba(5,7,12,0.30)), url(img/fondojava.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 100px 50px;
}

.general-4 txt {
   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 30px 120px;
    color: #fff;
}

.general-1 p {
    color: black solid;
    border: solid;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    margin-top: 20px;
    display:flex;    
    position: relative;
}

.general-2 p {
    color: black solid;
    border: solid;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    margin-top: 20px;
    
}

.general-3 p {
    color: black solid;
    border: solid;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    margin-top: 20px;
    
}



/*SECCION PLANES*/
.g2-container .general-content  {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    
}

.g2-container h2  {
    font-size: 60px;
    background-color: #18D0C3;
    text-transform: uppercase;
    color: #151517;
    padding: 15px 40px;
    border: 2px solid ;
    border-style: ridge solid ;
    text-transform:uppercase;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    
}

.general-planes {
    background: linear-gradient(rgba(5,7,12,0.55), rgba(5,7,12,0.55)), url(img/seccion\ planes.png);
    padding: 0 0 200px;
    text-align: center;
    display:flex;
    justify-content:space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    align-items: center;
    
}
.animacion {
 
    transition: all 0.40s;
    transform: scale(0.8);
    color: #ff0000;
    animation-iteration-count: infinite;

}

.btn-plan {
    transform: translateX();
}

.general-planes h3 {
    color: black;
    border: solid black;
    background-color: #18D0C3;
    border-radius: 10px;
    padding: 5px;
    
}

.g2-container p {
    background-color: white;
    color: black solid;
    border: solid;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    margin-top: 20px;
    display:flex;    
    position: relative;
}


/*SECCION TABLA INFORMACION*/


    .info-1 {
        text-align: center;
        margin-top: 30px;
        background-color:#ddd;
        margin: 150px auto;
        width: px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: white;
        text-align: left;
    }

    th, td {
        padding: 20px;
        text-align: left;
    
    }

    th {
        font-weight: bold;
        color: #333;
    }

    .info-1 h2 {
        font-size: 60px;
        background-color: #18D0C3;
        text-transform: uppercase;
        color: #151517;
        padding: 15px 40px;
        border: 2px solid ;
        border-style: ridge solid ;
        font-size: 60px;
        text-transform:uppercase;
        font-weight: 500;
        border-radius: 10px;
        margin-top:50px;
      
    }
   
    /*FOOTER*/

    .footer-container h2 {
        font-size: 60px;
        color: black;
        background-color: #18D0C3;
        border-radius: 10px;
        padding: 10px 40px;
        text-decoration: none;
        font-weight: 500;
        justify-content: center;
        text-align: center;
    }

    /*SECCION AUDIO*/

    .header-content-container .header-txt .audio {

        justify-content: center;
        text-align: center;
        display:inline-block
        



    }